* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffe6e9;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}

.container {
  position: relative;
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.question-container {
  margin-bottom: 2rem;
}

.tenor-gif-embed {
  height: 15rem;
  pointer-events: none;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.question {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #ff6b81;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap; /* Đảm bảo nút không bị tràn nếu màn hình nhỏ */
}

.btn {
  border: none;
  border-radius: 50px;
  padding: 12px 24px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #ff6b81;
  color: white;
  transform: scale(1);
  box-shadow: 0px 4px 15px rgba(255, 107, 129, 0.5);
}

.btn:hover {
  background-color: #ffa4b1;
  transform: scale(1.1);
  box-shadow: 0px 6px 20px rgba(255, 107, 129, 0.7);
}

.result-container {
  display: none;
  position: relative;
  text-align: center;
}

.gif-result {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: auto;
}

.result-container h2 {
  font-size: 2.8rem;
  text-align: center;
  color: #ff6b81;
}

.result-container img {
  width: 250px;
  height: auto;
  border-radius: 10px;
  display: block;
  margin: 10px auto;
}

.js-answer-btn {
  background-color: #ffcccb;
  color: black;
  padding: 12px 24px;
  margin: 5px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
}

.js-answer-btn:hover {
  background-color: #ff9999;
  transform: scale(1.05);
}

/* Hiệu ứng trái tim */
.cssload-main {
  display: none;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cssload-heart {
  animation: cssload-heart 2.88s infinite;
  top: 50%;
  left: 50%;
  position: absolute;
}

.cssload-square {
  width: 1em;
  height: 1em;
  border: 1px solid #ff0000;
  background-color: #ff0000;
  display: block;
  transform: scale(1) rotate(-45deg);
  animation: cssload-square 2.88s infinite;
}

@keyframes cssload-heart {
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

@keyframes cssload-square {
  50% {
    border-radius: 100%;
    transform: scale(0.5) rotate(-45deg);
  }
  100% {
    transform: scale(1) rotate(-45deg);
  }
}
